body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#chart {
    max-width: 1040px;
    max-height: 500px;
}

.w-100 {
    width: 100%;
}

.text-center {
    text-align: center;
}

.buttons {
    display: block;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid gray;
    padding: 10px;
}

button.active {
    background-color: lightgrey;
    font-weight: bold;
}

.change-box-list {
    display: block;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid gray;
    padding: 10px;
}

.change-box {
    margin-top: 10px;
    padding: 8px;
    padding-left: 0px;
}

fieldset {
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

legend {
    padding: 10px;
}
