<head>
    <!-- Load plotly.js into the DOM -->
    <script src='plotly-latest.min.js'></script>
    <script src="app.js"></script>

    <!-- OpenSource graph library https://plotly.com/javascript/ -->
</head>

<body>

	<label>
		<input type="text" value="192.168.4.1" id="ipv4">
		<button type="button" id="change-ipv4">Change IPv4</button>
	</label>

	<br />

	<label>
		<input type="text" value="0" id="tmSampling">
		<button type="button" id="change-sampling-rate">Change sampling time</button>
	</label>

	<br />

	<label>
		<input type="text" value="0" id="tmSending">
		<button type="button" id="change-sending-rate">Change sending time</button>
	</label>

    <div id="graph"></div>

</body>
